<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yk.generator.mapper.GenTableColumnMapper">

    <!-- 查询业务数据库表 -->
    <select id="listDbTableColumnsByName" resultType="GenTableColumn">
        select column_name columnName, (case when (is_nullable = 'no' <![CDATA[ && ]]> column_key != 'PRI') then '1' else null end) as required,
        (case when column_key = 'PRI' then '1' else '0' end) as pk, ordinal_position as sort, column_comment columnComment,
         (case when extra = 'auto_increment' then '1' else '0' end) as increment, column_type columnType
		from information_schema.columns where table_schema = (select database()) and table_name = (#{tableName})
		order by ordinal_position
    </select>

    <!-- 新增数据库表列字段 -->
    <insert id="insertGenTableColumn">
        insert into gen_table_column (id, table_id, column_name, column_comment, column_type, java_type, java_field,
         pk, increment, required, is_insert, edit, list, query, query_type, html_type, dict_type, sort)

        values (#{id}, #{tableId}, #{columnName}, #{columnComment}, #{columnType}, #{javaType}, #{javaField}, #{pk}, #{increment},
        #{required}, #{insert}, #{edit}, #{list}, #{query}, #{queryType}, #{htmlType}, #{dictType}, #{sort})
    </insert>

    <!-- 根据tableId获取数据库表列集合 -->
    <select id="listGenTableColumnsByTableId" resultType="GenTableColumn">
        SELECT c.id id, c.column_name columnName, c.column_comment columnComment, c.column_type columnType, c.java_type javaType,
         c.java_field javaField, c.pk pk, c.increment increment, c.required required,c.is_insert isInsert, c.edit edit, c.list list,
         c.query query, c.query_type queryType, c.html_type htmlType, c.dict_type dictType, c.sort sort,c.table_id tableId
		FROM gen_table_column c
		where c.table_id = #{tableId}
		order by c.sort
    </select>

</mapper>
