<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('预览视频')" />
	<th:block th:include="include :: video-css"/>
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<video id="viewVideo" width="800" class="video-js vjs-default-skin" controls preload="none"
			   poster="http://video-js.zencoder.com/oceans-clip.png"
			   data-setup="{}">
			<source th:src="'/api/videoAttachment/getVideoStream/' + ${attId}" type="video/mp4">
		</video>
	</div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: video-js"/>
	<script type="text/javascript">
		function submitHandler() {
			$.modal.close();
			myPlayer.pause();
		}

		videojs("viewVideo", {autoplay: true}, function () {
			myPlayer.play();
		})
	</script>
</body>
</html>
