<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('文件上传')"/>
    <th:block th:include="include :: bootstrap-fileinput-css"/>
    <th:block th:include="include :: select2-css"/>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="select-list">
                    <li>
                        <label>文件上传类型：</label>
                        <select name="uploadType" class="form-control m-b" id="uploadType">
                            <option value="local">本地上传</option>
                            <option value="fastdfs">fastDFS上传</option>
                            <option value="oss">阿里云OSS上传</option>
                        </select>
                    </li>
                </div>
                <div class="ibox-content">
                    <div class="form-group">
                        <label class="font-noraml">视频上传</label>
                        <div class="file-loading">
                            <input id="uploadVideo" type="file" multiple>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: bootstrap-fileinput-js"/>
<th:block th:include="include :: select2-js"/>

<script type="text/javascript" th:inline="javascript">
    var prefix = ctx + "api/videoAttachment";

    var uploadType = $("#uploadType").val();
    var url;
    if (uploadType == 'local') {
        url = prefix + '/uploadLocalBatchAttachment';
    } else if (uploadType == 'fastdfs') {
        url = prefix + '/uploadFastDFSBatchAttachment';
    } else {
        url = prefix + '/uploadOSSBatchAttachment';
    }

    $(function () {
        $("#uploadVideo").fileinput({
            'theme': 'explorer-fas',
            'uploadUrl': url,
            overwriteInitial: false,
            allowedFileExtensions: ['mp4', 'flv', 'avi', 'wmv', 'mpg', 'mpg4', 'mov', 'mkv', 'f4v', 'm4v', 'rmvb', 'rm', '3gp', 'm3u8', 'kux'],
            maxFileCount: 5,
            initialPreviewAsData: true,
            maxFileSize: 1024 * 1024,
        });

    });

    function submitHandler() {
        $.modal.close();
        parent.$.table.refresh();
    }
</script>
</body>
</html>
