<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('视频附件列表')"/>
    <th:block th:include="include :: select2-css" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>视频属性：</label>
                            <input type="text" name="attachAttr"/>
                        </li>
                        <li>
                            <label>视频名称：</label>
                            <input type="text" name="attachName"/>
                        </li>
                        <li>
                            <label>状态：</label>
                            <select name="status" class="form-control m-b" th:with="type=${@dict.getType('sys_common_status')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="uploadLocalVideos()" shiro:hasPermission="attachment:video:upload">
                <i class="fa fa-upload"></i> 本地上传视频
            </a>
            <a class="btn btn-info" onclick="uploadFastDfsVideos()" shiro:hasPermission="attachment:video:upload">
                <i class="fa fa-upload"></i> FastDFS上传视频
            </a>
            <a class="btn btn-primary" onclick="uploadOSSVideos()" shiro:hasPermission="attachment:video:upload">
                <i class="fa fa-upload"></i> OSS上传视频
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="attachment:video:delete">
                <i class="fa fa-remove"></i> 删除
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: select2-js" />
<script th:inline="javascript">
    var deleteFlag = [[${@permission.hasPermi('attachment:video:delete')}]];

    var prefix = ctx + "api/videoAttachment";
    var pagePrefix = ctx + "attachment/video";
    var dictData = [[${@dict.getType('sys_common_status')}]];
    var dictDataUploadType = [[${@dict.getType('file_upload_type')}]];

    $(function () {
        var options = {
            url: prefix + "/listVideoAttachments",
            removeUrl: prefix + "/deleteVideoAttachmentById/{id}",
            removeAllUrl: prefix + "/deleteBatchVideoAttachmentByIds/{ids}",
            modalName: "视频附件",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '视频唯一标识',
                    visible: false
                },
                {
                    field: 'ownerId',
                    title: '所属id'
                },
                {
                    field: 'attachAttr',
                    title: '视频属性'
                },
                {
                    field: 'positionType',
                    title: '图片上传类型',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(dictDataUploadType, value);
                    }

                },
                {
                    field: 'attachOriginTitle',
                    title: '视频原名'
                },
                {
                    field: 'attachName',
                    title: '视频名称'
                },
                {
                    field: 'attachSize',
                    title: '视频大小'
                },
                {
                    field: 'remark',
                    title: '备注'
                },
                {
                    field: 'status',
                    title: '状态',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(dictData, value);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-info btn-xs" href="javascript:void(0)" onclick="previewVideo(\'' + row.id + '\')"><i class="fa fa-eye"></i>预览视频</a> ');
                        actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="downloadVideo(\'' + row.id + '\', \'' + row.positionType + '\')"><i class="fa fa-eye"></i>下载视频</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + deleteFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    /**
     * 上传视频
     */
    function uploadLocalVideos() {
        $.operate.uploadVideos(pagePrefix + "/uploadLocalVideos");
    }

    /**
     * 上传视频
     */
    function uploadFastDfsVideos() {
        $.operate.uploadVideos(pagePrefix + "/uploadFastDfsVideos");
    }

    /**
     * 上传视频
     */
    function uploadOSSVideos() {
        $.operate.uploadVideosTab(pagePrefix + "/uploadOssVideos");
    }

    /**
     * 预览视频
     */
    function previewVideo(id) {
        $.operate.previewVideo(pagePrefix + "/previewVideo/" + id);
    }

    /**
     * 预览视频
     */
    function downloadVideo(id, positionType) {
        if (positionType == 'local') {
            window.location.href = prefix + "/downloadLocalVideoAttachment/" + id;
        } else if (positionType == 'fastdfs') {
            window.location.href = prefix + "/downloadFastDfsAttachment/" + id;
        } else {

        }
    }
</script>
</body>
</html>