<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('OSS图片上传')"/>
    <th:block th:include="include :: bootstrap-fileinput-css"/>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="form-group">
                        <label class="font-noraml">OSS图片上传</label>
                        <div class="file-loading">
                            <input id="uploadImage" type="file" multiple>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: bootstrap-fileinput-js"/>

<script type="text/javascript" th:inline="javascript">
    var prefix = ctx + "api/imageAttachment";

    var bucketName = "yk-platform";
    var storageType = 'Standard';
    var dataRedundancyType = 'Local';
    var cannedACL = 'PubR';

    var option = {
        theme: 'explorer-fas',
        uploadUrl: prefix + '/uploadOssAttachment',
        overwriteInitial: false,
        allowedFileExtensions: ['jpg', 'jpe', 'jpeg', 'gif', 'png', 'webp', 'bmp', 'tif', 'tiff', 'fax', 'ico'],
        maxFileCount: 10,
        initialPreviewAsData: true,
        maxFileSize: 20 * 1024,
        uploadExtraData : {
            bucketName: bucketName,
            storageType: storageType,
            dataRedundancyType: dataRedundancyType,
            cannedACL: cannedACL
        }
    };

    $(function () {
        $("#uploadImage").fileinput(option).on("filebatchuploaderror", function (event, data, msg) {
            console.log(data);
            console.log(msg);
        });
    });

    function submitHandler() {
        $.modal.close();
        parent.$.table.refresh();
    }
</script>
</body>
</html>
